{% extends 'www/html/base.html' %}
{% block meta %}
<title>收益 - MoneyCharts</title>
<style>
    .table-fixed { table-layout: fixed; }
    .table tr.text-right td { text-align: right; }
    .table tr.text-right th { text-align: right; }

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var data = [
{% for n in nodes %}
{
    "date": new Date({{n.date.year}},{{n.date.month}}-1, 1),
    "close": 
    {% if n.open == 0 %}
    0
    {% else %}
    {% set v = 100*n.close/n.open - 100 %}
    {{ v|int}}
    {% endif %}
},
{% endfor %}
];

var margin = {top: 20, right: 20, bottom: 30, left: 50},
width = 620- margin.left - margin.right,
height = 320 - margin.top - margin.bottom;

var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

function build_svg() {
    var parseDate = d3.time.format("%d-%b-%y").parse;

    var xAxis = d3.svg.axis().scale(x).orient("bottom");
    var yAxis = d3.svg.axis().scale(y).orient("left");

    var line = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.close); });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.close; }));

    var chart = d3.select(".chart")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

    chart.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    chart.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    chart.selectAll("g")
        .data(data)
        .enter()
        .append("rect")
        .attr("close", function(d) { return d.close; })
        .attr("x", function(d) { return x(d.date); })
        .attr("y", function(d) { return 50+y(d.close); })
        .attr("width", 20)
        .attr("height", function(d) { return height - y(d.close); });

/*
    chart.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Price ($)");

    chart.selectAll("rect")
        .datum(data)
        .attr("class", "bar")
        .attr("d", line);
*/
}

$(document).ready(build_svg);

</script>
{% endblock %}

{% block main %}
<legend>月度收益表</legend>
<svg class="chart"></svg>
<table class="table table-fixed table-bordered table-condensed" >
    <thead>
        <tr class="success text-right">
            <th>时间</th>
            <th>本金</th>
            <th>月初市值</th>
            <th>月末市值</th>
            <th>收益</th>
        </tr>
    </thead>
    <tbody>
        {% for n in nodes %}
        <tr class="text-right">
            <td class="code">{{n.date.year}}年{{n.date.month}}月</td>
            <td class="worth">{{n.base}}</td>
            <td class="worth">{{n.open}}</td>
            <td class="num">{{n.close}}</td>
            {% if n.open == 0 %}
            <td class="money">-</td>
            {% else %}
            {% set v = 100*n.close/n.open - 100 %}
            <td style="color: {%if v>0%}red{%else%}green{%endif%}" class="money">{{ v|int}}%</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
