{% extends 'www/html/base.html' %}
{% block meta %}
<title>关于 - MoneyCharts</title>
{% endblock %}

{% block main %}
<legend class="page-header"><h1><a class="logo" href='#'><span class="money">Money</span><span class="charts">Charts</span></a></h1></legend>

<div style="background-color: rgb(255, 255, 255); font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', Helvetica, nanumgothic, sans-serif, Menlo, Monaco, monospace; font-size: 0.9em; overflow-x: hidden; overflow-y: auto; margin: 0px !important; padding: 5px 20px !important;padding: 20px;padding: 20px; color: rgb(34, 34, 34); font-size: 15px; font-family: 'Roboto Condensed', Tauri, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', AppleSDGothicNeo-Medium, 'Segoe UI', 'Malgun Gothic', Verdana, Tahoma, sans-serif; background-color: rgb(255, 255, 255); -webkit-font-smoothing: antialiased; background-position: initial initial; background-repeat: initial initial;">
<p style="margin-top: 0px;margin: 1em 0px; word-wrap: break-word;"><strong>MoneyCharts</strong>是一个简单的网站，目的是帮助一个炒股新手（我自己）总结自己，客观看待多年来的股市折腾结果，试图在埋头的交易中发现闪光的东西。</p><h3 style="clear: both;font-size: 1.6em; font-weight: bold; margin: 1.125em 0px 0.75em;">想做的功能</h3><ul>
<li style="display: list-item; line-height: 1.4em;">资金K线图</li>
<li style="display: list-item; line-height: 1.4em;">资金总盈亏</li>
<li style="display: list-item; line-height: 1.4em;">月度收益表</li>
<li style="display: list-item; line-height: 1.4em;">持股状况</li>
<li style="display: list-item; line-height: 1.4em;">分享给股友</li>
<li style="display: list-item; line-height: 1.4em;">简单账户体系</li>
</ul><h3 style="clear: both;font-size: 1.6em; font-weight: bold; margin: 1.125em 0px 0.75em;">欢迎提意见</h3><p style="margin-top: 0px;margin: 1em 0px; word-wrap: break-word;">可以在新浪微博<a href="http://weibo.com/talebook" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">@talebook</a>上联系我，或者直接发邮件<a href="mailto:talebook@foxmail.com" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">talebook@foxmail.com</a>。</p><p style="margin: 1em 0px; word-wrap: break-word;">欢迎踩踩我的<a href="http://talebook.org/" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">博客</a>。</p><h3 style="clear: both;font-size: 1.6em; font-weight: bold; margin: 1.125em 0px 0.75em;">感谢</h3><ul>
<li style="display: list-item; line-height: 1.4em;"><a href="http://www.qcloud.com" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">腾讯云</a>：提供免费强大的服务器给员工</li>
<li style="display: list-item; line-height: 1.4em;"><a href="http://www.djangoproject.com/" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">Django</a>及相关小伙伴们：提供很强大Python服务器框架和组件</li>
<li style="display: list-item; line-height: 1.4em;"><a href="http://www.amcharts.com/" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">amCharts</a>：提供K线图画图库</li>
<li style="display: list-item; line-height: 1.4em;"><a href="http://v2.bootcss.com/" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">Bootstrap</a>: 中文版Bootstrap文档看着真是舒心</li>
<li style="display: list-item; line-height: 1.4em;"><a href="http://developer.yahoo.com/yql/console/" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">Yahoo!金融数据接口</a>: 提供YQL这么高端洋气上档次的股票接口（就是性能有些慢）</li>
</ul><p style="margin: 1em 0px; word-wrap: break-word;">本站点代码开源，托管在<a href="https://github.com/talebook/moneycharts" style="text-decoration: none; vertical-align: baseline;color: rgb(50, 105, 160);">Github</a>上。感谢您的关注。</p></div>
{% endblock %}
