{% extends 'www/html/base.html' %}
{% block meta %}
<style>
    .table-fixed { table-layout: fixed; }
</style>
<title>分析 - MoneyCharts</title>
{% endblock %}


{% block main %}

{% set base = user.profile.base %}

{% set total = user.profile.free + user.profile.stocks_val %}
{% set cost  = tax+fee1+fee2+fee3 %}
<legend>收益 <small><a href="/chart/earn">详情</a></small></legend>
<table class="table table-fixed table-bordered table-condensed" >
    <thead>
        <tr>
            <th>本金</th>
            <th>余额</th>
            <th>股值</th>
            <th>总市值</th>
            <th>浮盈</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{base}}</td>
            <td>{{user.profile.free}}</td>
            <td>{{user.profile.stocks_val}}</td>
            <td>{{total}}</td>
            {% if base == 0 %}
            <td> - </td>
            {% else %}
            <td><strong style="color: red">{{total-base}}（{{ (100*total/base -100) |int}}%）</strong></td>
            {% endif %}
        </tr>
    </tbody>
</table>
<br/>

<legend>支出</legend>
<table class="table table-fixed table-bordered table-condensed" >
    <thead>
        <tr>
            <th>印花税</th>
            <th>手续费</th>
            <th>过户费</th>
            <th>结算费</th>
            <th>总税费</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{tax}}</td>
            <td>{{fee1}}</td>
            <td>{{fee2}}</td>
            <td>{{fee3}}</td>
            <td><strong style="color: red">{{cost}}</strong></td>
        </tr>
    </tbody>
</table>
<br/>

<legend>流动性</legend>
<table class="table table-fixed table-bordered table-condensed" >
    <tr>
        <th>本金</th>
        <th>买卖总额</th>
        <th>流动性</th>
        <th>税费/本金</th>
        <th>税费/流动性</th>
    </tr>
    <tr>
        <td>{{base}}</td>
        <td>{{money}}</td>
        {% if base == 0 %}
        <td> - </td>
        <td> - </td>
        {% else %}
        <td>{{ (money/base) | int}}倍</td>
        <td>{{ (100*cost/base) | int}}%</td>
        {% endif %}

        {% if money == 0 %}
        <td> - </td>
        {% else %}
        <td>{{ (1000*cost/money) | int}}‰</td>
        {% endif %}
    </tr>
</table>
{% endblock %}

