{% extends 'www/html/base.html' %}
{% block main %}
<legend>Login<small><a class="pull-right" href='/register'>Register</a></small></legend>

{% if form.errors %}
<div class="alert alert-info"><p class="error">Sorry, that's not a valid username or password</p></div>
{% endif %}

<div class="">
    <form method='POST' class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="username" id="username" placeholder="username">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input class="input-xlarge" type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-large btn-primary">Sign in</button>
        </div>
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
</div>

{% endblock %}
