{% extends 'www/html/base.html' %}
{% block meta %}
<title>MoneyCharts</title>
{% endblock %}

{% block main %}
<div class="page-header"><h1>您好</h1></div>

{% set base = user.profile.base %}
{% if base == 0 %}{% set base = 1 %}{% endif %}


{% if user.bill_set.count() == 0 %}
<!-- 新用户 -->
<div class="lead">
    <p> 一切开始之前，请您先更新资金流水。 </p>
</div>

{% else %}
<!-- 老用户 -->
<div class="lead">
    <p>
    {% set total = user.profile.free + user.profile.stocks_val %}
    {% set r = (100*total/base-100) %}
    当前持股{{user.profile.stocks_num}}个，总市值￥{{total}}
    （<span style="background-color: {% if r < 0 %}#00FF00{% else %}red{%endif%}">{{ r|int }} %</span>）。
    </p>
    <p>
    {% set a = user.bill_set.first().date %}
    {% set b = user.bill_set.last().date %}
    {{a.year}}年{{a.month}}月{{a.day}}日至今，
    共有{{user.bill_set.count()}}笔资金操作, 平均每月{{(30*user.bill_set.count()/(b-a).days)|int}}笔交易。
    </p>
</div>


<p>
您可以<a href="#" onclick="$('#upload').toggle()">更新资金流水</a>，
或是查看<a href="/chart/k/" >资金曲线</a>。
</p>
{% endif %}

<div id="upload" class="alert alert-info" style="margin-top: 48px; {% if user.bill_set.count() %}display: none{% endif %}" >
    <button type="button" class="close"  onclick="$('#upload').toggle()" >&times;</button>
    <br/>
    <p>资金流水记录可以在券商股票软件中导出，一般是TXT文本文件。</p>
    <p>（系统暂时仅支持招商证券的资金流水。）</p>
    <br/>
    <script>
        function check_files() {
            var files = document.getElementById('input_file').files;
            if (!files.length) {
                alert('请选择资金流水文件。');
                return false;
            }
            return true;
        }
    </script>
    <form method="POST" action="/bill/update/" onsubmit="return check_files()"
        class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="span6" id="input_file" type="file" name="data" />
        <button type="submit" class="btn btn-primary">提交更新</button>
    </form>
</div>

{% block extra %}{% endblock %}
{% endblock %}
