{% extends 'www/html/base.html' %}
{% block main %}
<legend>1. 上传资金流水（<small>暂时仅支持招商证券</small>）</legend>
<form method="POST" action="/import/"
    class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="data">选择流水文件(txt)</label>
        <div class="controls">
            <input class="" type="file" name="data" />
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-large btn-primary">Upload</button>
    </div>
</form>
<br/>

<legend>2. 查看报告</legend>
<div class="text-center">
<a href="/chart/k/" class="btn ">View K-Charts</a>
</div>

{% block extra %}{% endblock %}
{% endblock %}
